.elements {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.elements__list {
  display: grid;
  grid-template-columns: 1fr;      /* Una sola columna en mobile */
  gap: 20px;
  padding: 0 19px;                 /* Espacio lateral en móviles */
  margin: 0 auto;
  max-width: 100%;
  list-style: none;
}

.element {
  width: 100%;
  max-width: 100%;                /* Máximo ancho de la tarjeta */
  background-color: white;
  border-radius: 10px;
  margin: 0 auto;                  /* Centrar cada tarjeta */
  display: flex;
  flex-direction: column;
}

.element__image {
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.element__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.element__title {
  font-size: 18px;
  font-weight: 900;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
}

.element__like-button {
  width: 22px;
  height: 19px;
  background: url("../../images/heart.png") no-repeat center;
  background-size: contain;
  border: none;
  cursor: pointer;
}

.element__like-button:hover {
  content: url("../../images/heart-hover.svg");
  opacity: 0.6;
}

.element__like-button_active {
  background-image: url("../../images/heart-active.png");
}



@media screen and (min-width: 768px) and (max-width: 1023px) {
  .elements {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .elements__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas para evitar scroll */
    /*gap: 24px;*/
    justify-items: center;
    list-style: none;
    margin: 0 auto;
    /*padding: 0 16px;*/
    max-width: 100%;
  }

  .element {
    width: 100%;
    max-width: 282px; /* ✅ Controla el ancho de cada tarjeta */
    margin: 0 auto;
  }

  .element__title {
    font-size: 22px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    white-space: nowrap;
    max-width: 90%;
  }
}

@media screen and (min-width: 1024px) {

  .elements {
    width: 80%;
    margin: 0 auto;
    max-width: 100%;
    /*padding: 40px 100px;*/
    justify-content:space-around;
    /* background-color: aqua; */
  }

  .element {
    max-width: 100%;
  }

  .elements__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    justify-items: center;
    padding: 0;
  }

  .element__title {
    font-size: 24px;
    font-weight: 900;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}